body{
    background: url("imagenes/Logo-de-Valencia-C.F-gratis-792x1024.jpg") repeat-y top left,
    url("imagenes/valenciaCentenari.png") repeat-y top right;   
    background-color:orange;
    background-size: 175px, 175px;
    color: white;
  padding-bottom: 100px;
  font-size: 1.25rem;  
  font-family: sans-serif;
  margin: 12px 179px;
  }
  h1{
    color:red;
    text-align: center;
    }
    
    nav {
      position: fixed;
      top: 15em;
      right: 20px;
      border-radius: 20px;
      background-color: red;
      color: white;
    }img{
      
  width: 170px;
  height: 135px;
  float:left;
  margin: 10px;
  
}
div.trofeo{
background-color:red;
color: white;
background-size: 200px;
margin-left: 100px;
margin-right: 100px;
border-radius: 30px;
padding: 20px;

}
h2{

  text-align: center;
  font-size: 60px;
  
}
  article {
    float: left;
    width: 12rem;
    border: hsl(28, 100%, 50%) 5px solid;
    border-top: none;
    margin: 8px;
    background-color: hsl(49, 100%, 60%);
  }

  
  section {
    float: left;
    width: 30rem;
    border:#FFA500 5px solid;
    border-top: none;
    margin: 10px;
  }
